<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nothing like ShellFish</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="container">

    <h1 class="text-center">"Crabcake Recipe"</h1>

    <div class="row">

          <img src="/img/pepperbomb.png" alt="cake">

    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-5">
            <h2>Recipe ingredients:</h2>
            </div>
            <div class="col-9">
                <li>Jumbo lump crab meat.</li>
                <li>Mayo.</li>
                <li>Old Bay.</li>
                <li>Cayenne Pepper.</li>
                <li>Bread Crumb.</li>
                <li>Spicy Brown Mustard</li>
            </div>
        </div>
    <div class="container">

        <div class="row">

            <div class="col-8">
           <h1 class="text-center">Directions</h1>
            </div>
        </div>
    </div>
</div>






</body>
</html>
<!--Use your existing Spring Boot application or create a new Spring Boot application.-->

<!--Create a new HTML template called crabbypage.html-->

<!--Create a  web page to display the following recipe.-->

<!--Use the following tags:-->

<!--Note: html tags should be in lower case!-->

<!--H1 tags for "Crabcake Recipe"-->

<!--H2 tags for the ingredients header-->

<!--UL and LI tags for the ingredients-->

<!--<P> paragraph tags for each paragraph-->

    <!--<img> for images. Images include the alt and src attributes-->

    <!--Submit your completed solution to GitHub.-->